*/gen/**
*/bin/**
**/reports/**
**/intermediates/**
**/generated/**
database/build/**
ui_libs/build/**
SimpleBARTInfo/build/**
MinnowRSS/build/**
local.properties
**/caches/**
MinnowRSS/minnowRSS/build/intermediates/blame/**
MinnowRSS/minnowRSS/build/intermediates/**
**/**/build/outputs/logs/**
**taskHistory**
